<div id="counters" class="flex0">
  <h2 class="corners dark">{{localize "wildsea.counters"}}</h2>
  <div class="bordered">
    <div class="flexrow list-track">
      <label>
        <a class="rollCounter" data-type="counter" data-id="steppe" data-value="{{system.counters.ruin.steppe}}">{{localize "wildsea.steppe"}}</a>
        <input class="clear-input" type="number" name="system.counters.steppe.level" value="{{system.counters.steppe.level}}" data-dtype="Number"/>
      </label>
      <div class="flex0">
        {{> "systems/wild-steppe/templates/shared/track.hbs" max=system.counters.steppe.max value=system.counters.steppe.value id="steppe" type="counter"}}
      </div>
    </div>
    <div class="flexrow list-track">
      <label>
        <a class="rollCounter" data-type="counter" data-id="ruin" data-value="{{system.counters.ruin.level}}">{{localize "wildsea.ruin"}}</a>
        <input class="clear-input" type="number" name="system.counters.ruin.level" value="{{system.counters.ruin.level}}" data-dtype="Number"/>
      </label>
      <div class="flex0">
        {{> "systems/wild-steppe/templates/shared/track.hbs" max=system.counters.ruin.max value=system.counters.ruin.value id="ruin" type="counter"}}
      </div>
    </div>
  </div>
</div>
