<form class="wildsea flexcol spaced">
  <div class="form-group">
    <label>{{localize "wildsea.counter"}}</label>
    <div class="form-fields">
      <select id="counter" name="counter" class="corners">
        <option value="">{{localize "wildsea.none"}}</option>
        {{#each counters as |value label|}}
          <option value="{{label}}" {{#if (eq ../counter label)}}selected{{/if}}>{{localize (concat "wildsea." label)}} (+{{value}}d)</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "wildsea.advantage"}}</label>
    <div class="form-fields">
      <select id="advantage" name="advantage" class="corners">
      {{selectOptions advantageOptions selected=advantage}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "wildsea.cut"}}</label>
    <div class="form-fields">
      <select id="cut" name="cut" class="corners">
      {{selectOptions cutOptions selected=cut}}
      </select>
    </div>
  </div>
</form>
